pytest
pyside2
pyecharts
d3blocks
networkx
pyqtgraph
numpy
pandas
openpyxl
strenum
jieba
scikit-learn==1.3.2
# datasketch==1.5.4
zhon
#gensim
loguru
pendulum
pyinstaller
wmi
watchdog

requests
lxml
black
pyinstrument
python-docx
PyMuPDF