pyside6
loguru
pytest
coverage
mypy
requests
lxml
pandas
openpyxl
pyecharts
flask
flask-sqlalchemy
jinja2
pyecharts
psutil
schedule
jieba
zhon
annoy
dask
modin
simhash
uuid
StrEnum
nuitka

# pip install -r requirements.txt  -i https://pypi.tuna.tsinghua.edu.cn/simple