pyside6
loguru
pytest
coverage
mypy
requests
lxml
toml
pandas
scikit-learn
openpyxl
pyecharts
flask
flask-sqlalchemy
jinja2
pyecharts
psutil
schedule
jieba
zhon
annoy
#ray
dask
modin
simhash


# pip install -r requirements.txt  -i https://pypi.tuna.tsinghua.edu.cn/simple